body{
  background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.expense{
  width: 350px;

  margin: 0 auto;

}
.expense__title{
  text-align: center;
}
.expense__subtitle{
  margin-left: 10px;
}
.expense__caption{
  font-size: 36px;
  margin-left: 10px;
}
.expense__table{

  background-color: #fff;
  box-shadow: 10px 5px 5px red;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}


.expense__minus{
color:red
}
.expense__subtitle{
  text-transform: uppercase;
}
.expense__plus{
color:green
}
.text{
  order: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.number{
  border: 1px solid #dedede;
  margin-top: 20px;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 350px;
    padding-left: 0;
  padding-right: 0
}
.expence__button{
  cursor: pointer;
    background-color: #9c88ff;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 350px;
}
.expence__list{
  list-style: none;
}

/* .plus{
  background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
  border-right: 5px solid #2ecc71;
}
.minus{
  background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
  border-right: 5px solid #da1616;
} */
